.yLabel {
	text-anchor: middle;
	fill: #333;
}

.xLabel {
	text-anchor: middle;
	fill: #333;
}

#plotTitle {
	font-weight: bolder;
	font-size: 105%;
	fill: #333;
	/* text-decoration-line: underline; */
	text-anchor: middle;
	white-space: pre;
	/* word-wrap: break-word; */
}

.tooltip {
	white-space: pre-wrap;
	pointer-events: none;
	color: #fff;
	font-weight: bold;
	font-size: 100%;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.523);
	padding: 0.7vh 0.7vh;
	border-radius: 10px;
	transition: all 0.4s ease-in-out;
	animation: odsoky 1s ease-in-out infinite alternate;
}

@keyframes odsoky {
	0% {
		transform: translateY(6px);
	}
	100% {
		transform: translateY(1px);
	}
}

.BarGraph {
	/* fill: #242424; */
	fill: #344a62;
}

.BarGraph:hover {
	fill: #daa520;
}

.Point {
	fill: #9c9c9c;
	stroke: transparent;
	stroke-width: 10px;
}

.Point:hover {
	fill: #daa520;
}

.PointExp {
	fill: #9c9c9c;
	stroke: transparent;
	stroke-width: 30px;
}

.PointExp:hover {
	fill: #daa520;
}

.LineArea {
	fill: #344a62;
	opacity: 0.2;
}

.LineNorm {
	stroke: #344a62;
	stroke-width: 3;
}

.LineExpected {
	stroke: #344a62;
	stroke-width: 2;
}

.legendText {
	font-size: 12px;
}

@media only screen and (max-width: 767px) {
	html {
		scroll-behavior: auto;
		font-size: 14px;
	}
	#plotTitle {
		font-size: 100%;
	}
	#legendText {
		font-size: 10px;
	}
	.sk-chase {
		left: 45%;
	}
	.chevron {
		width: 15%;
	}
}
